# タイタニック生存者予測モデル

[Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic)

以下の内容は、九大OB のT君が学部生時代に行った分析過程の一部です。  
どうアプローチしたら良いのかわからない人は参考にしてください。

---

---

まずはどんな問題なのか把握しないとな。  
なるほど、生死がわかっている人たちのデータ (train.csv) からモデルを立てて、生死が隠されているの人たち (test.csv) の生死を予測すれば良いわけだな。

まぁ、とりあえずはデータを読み込んでみよう。

In [1]:
using DataFrames, StatsBase, StatPlots
gr()

train = readtable("train.csv")
head(train)

6×12 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │

│ Row │ Embarked │
├─────┼──────────┤
│ 1   │ "S"      │
│ 2   │ "C"      │
│ 3   │ "S"      │
│ 4   │ "S"      │
│ 5   │ "S"      │
│ 6   │ "Q"      │

In [2]:
test = readtable("test.csv")
head(test)

6×11 DataFrames.DataFrame
│ Row │ PassengerId │ Pclass │ Name                                           │
├─────┼─────────────┼────────┼────────────────────────────────────────────────┤
│ 1   │ 892         │ 3      │ "Kelly, Mr. James"                             │
│ 2   │ 893         │ 3      │ "Wilkes, Mrs. James (Ellen Needs)"             │
│ 3   │ 894         │ 2      │ "Myles, Mr. Thomas Francis"                    │
│ 4   │ 895         │ 3      │ "Wirz, Mr. Albert"                             │
│ 5   │ 896         │ 3      │ "Hirvonen, Mrs. Alexander (Helga E Lindqvist)" │
│ 6   │ 897         │ 3      │ "Svensson, Mr. Johan Cervin"                   │

│ Row │ Sex      │ Age  │ SibSp │ Parch │ Ticket    │ Fare    │ Cabin │
├─────┼──────────┼──────┼───────┼───────┼───────────┼─────────┼───────┤
│ 1   │ "male"   │ 34.5 │ 0     │ 0     │ "330911"  │ 7.8292  │ NA    │
│ 2   │ "female" │ 47.0 │ 1     │ 0     │ "363272"  │ 7.0     │ NA    │
│ 3   │ "male"   │ 62.0 │ 0     │ 0     │ "240276"  │ 9.6875  │ NA    │
│ 4   │ "male"   │ 27.0 │ 0     │ 0     │ "315154"  │ 8.6625  │ NA    │
│ 5   │ "female" │ 22.0 │ 1     │ 1     │ "3101298" │ 12.2875 │ NA    │
│ 6   │ "male"   │ 14.0 │ 0     │ 0     │ "7538"    │ 9.225   │ NA    │

│ Row │ Embarked │
├─────┼──────────┤
│ 1   │ "Q"      │
│ 2   │ "S"      │
│ 3   │ "Q"      │
│ 4   │ "S"      │
│ 5   │ "S"      │
│ 6   │ "S"      │

サイトによると各列のデータの意味は次のとおりと。

| Variable | Definition                                 | Key                                            |
|----------|--------------------------------------------|------------------------------------------------|
| survival | Survival                                   | 0 = No, 1 = Yes                                |
| pclass   | Ticket class                               | 1 = 1st, 2 = 2nd, 3 = 3rd                      |
| sex      | Sex                                        |                                                |
| Age      | Age in years                               |                                                |
| sibsp    | # of siblings / spouses aboard the Titanic |                                                |
| parch    | # of parents / children aboard the Titanic |                                                |
| ticket   | Ticket number                              |                                                |
| fare     | Passenger fare                             |                                                |
| cabin    | Cabin number                               |                                                |
| embarked | Port of Embarkation                        | C = Cherbourg, Q = Queenstown, S = Southampton |

パラメータが多くてこれは大変そうだ。どうアプローチしたもんかなぁ。<br>
名前で生死に差がでるとは思えないから Name 列でも消しとくかな。

In [3]:
delete!(train, :Name)
head(train)

6×11 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │ Sex      │ Age  │ SibSp │ Parch │
├─────┼─────────────┼──────────┼────────┼──────────┼──────┼───────┼───────┤
│ 1   │ 1           │ 0        │ 3      │ "male"   │ 22.0 │ 1     │ 0     │
│ 2   │ 2           │ 1        │ 1      │ "female" │ 38.0 │ 1     │ 0     │
│ 3   │ 3           │ 1        │ 3      │ "female" │ 26.0 │ 0     │ 0     │
│ 4   │ 4           │ 1        │ 1      │ "female" │ 35.0 │ 1     │ 0     │
│ 5   │ 5           │ 0        │ 3      │ "male"   │ 35.0 │ 0     │ 0     │
│ 6   │ 6           │ 0        │ 3      │ "male"   │ NA   │ 0     │ 0     │

│ Row │ Ticket             │ Fare    │ Cabin  │ Embarked │
├─────┼────────────────────┼─────────┼────────┼──────────┤
│ 1   │ "A/5 21171"        │ 7.25    │ NA     │ "S"      │
│ 2   │ "PC 17599"         │ 71.2833 │ "C85"  │ "C"      │
│ 3   │ "STON/O2. 3101282" │ 7.925   │ NA     │ "S"      │
│ 4   │ "113803"           │ 53.1    │ "C123" │ "S"      │
│ 5   │ "373450"           │ 8.05    │ NA     │ "S"      │
│ 6   │ "330877"           │ 8.4583  │ NA     │ "Q"      │

生存者と死者にはそれぞれ共通する傾向があるかもしれないからデータを分けておこう！

In [4]:
survived = train[train[:Survived] .== 1, :]
delete!(survived, :Survived) # 生死はわかっているので Survived 列を削除
head(survived)

6×10 DataFrames.DataFrame
│ Row │ PassengerId │ Pclass │ Sex      │ Age  │ SibSp │ Parch │
├─────┼─────────────┼────────┼──────────┼──────┼───────┼───────┤
│ 1   │ 2           │ 1      │ "female" │ 38.0 │ 1     │ 0     │
│ 2   │ 3           │ 3      │ "female" │ 26.0 │ 0     │ 0     │
│ 3   │ 4           │ 1      │ "female" │ 35.0 │ 1     │ 0     │
│ 4   │ 9           │ 3      │ "female" │ 27.0 │ 0     │ 2     │
│ 5   │ 10          │ 2      │ "female" │ 14.0 │ 1     │ 0     │
│ 6   │ 11          │ 3      │ "female" │ 4.0  │ 1     │ 1     │

│ Row │ Ticket             │ Fare    │ Cabin  │ Embarked │
├─────┼────────────────────┼─────────┼────────┼──────────┤
│ 1   │ "PC 17599"         │ 71.2833 │ "C85"  │ "C"      │
│ 2   │ "STON/O2. 3101282" │ 7.925   │ NA     │ "S"      │
│ 3   │ "113803"           │ 53.1    │ "C123" │ "S"      │
│ 4   │ "347742"           │ 11.1333 │ NA     │ "S"      │
│ 5   │ "237736"           │ 30.0708 │ NA     │ "C"      │
│ 6   │ "PP 9549"          │ 16.7    │ "G6"   │ "S"      │

In [5]:
dead = train[train[:Survived] .== 0, :]
delete!(dead, :Survived) # 生死はわかっているので Survived 列を削除
head(dead)

6×10 DataFrames.DataFrame
│ Row │ PassengerId │ Pclass │ Sex    │ Age  │ SibSp │ Parch │ Ticket      │
├─────┼─────────────┼────────┼────────┼──────┼───────┼───────┼─────────────┤
│ 1   │ 1           │ 3      │ "male" │ 22.0 │ 1     │ 0     │ "A/5 21171" │
│ 2   │ 5           │ 3      │ "male" │ 35.0 │ 0     │ 0     │ "373450"    │
│ 3   │ 6           │ 3      │ "male" │ NA   │ 0     │ 0     │ "330877"    │
│ 4   │ 7           │ 1      │ "male" │ 54.0 │ 0     │ 0     │ "17463"     │
│ 5   │ 8           │ 3      │ "male" │ 2.0  │ 3     │ 1     │ "349909"    │
│ 6   │ 13          │ 3      │ "male" │ 20.0 │ 0     │ 0     │ "A/5. 2151" │

│ Row │ Fare    │ Cabin │ Embarked │
├─────┼─────────┼───────┼──────────┤
│ 1   │ 7.25    │ NA    │ "S"      │
│ 2   │ 8.05    │ NA    │ "S"      │
│ 3   │ 8.4583  │ NA    │ "Q"      │
│ 4   │ 51.8625 │ "E46" │ "S"      │
│ 5   │ 21.075  │ NA    │ "S"      │
│ 6   │ 8.05    │ NA    │ "S"      │

タイタニックといえばイギリスの客船だったなぁ。イギリスといえば英国紳士。レディーファーストの文化が根付いてるから、女性の方が優先的に救命ボートに乗ってそうだな。よし、生存者と死者の男女の数を調べてみよう。

In [6]:
# データ全体の男女の数
countmap(train[:Sex])

Dict{Union{DataArrays.NAtype,String},Int64} with 2 entries:
  "male"   => 577
  "female" => 314

In [7]:
# 生存者の男女の数
countmap(survived[:Sex])

Dict{Union{DataArrays.NAtype,String},Int64} with 2 entries:
  "male"   => 109
  "female" => 233

In [8]:
# 死者の男女の数
countmap(dead[:Sex])

Dict{Union{DataArrays.NAtype,String},Int64} with 2 entries:
  "male"   => 468
  "female" => 81

In [9]:
# 男女別の生存者の割合
collect(values(countmap(survived[:Sex]))) ./ collect(values(countmap(train[:Sex])))

2-element Array{Float64,1}:
 0.188908
 0.742038

In [10]:
groupedbar([countmap(train[:Sex])["male"] countmap(train[:Sex])["female"]; countmap(dead[:Sex])["male"] countmap(dead[:Sex])["female"]],
            label = ["male" "female"],
            bar_position = :stack, 
            bar_width=0.7,
            xticks = (1:2, ["survived", "dead"]),
            leg = true)

睨んだ通り、男性よりも女性の方の生存確率が高そうだ。

まだ Kaggle に慣れてないし、練習がてら最初は
> 男性は皆亡くなって、女性は皆生き残る

という大雑把なモデルの結果で提出してみよう。

In [11]:
ID = zeros(Int, size(test, 1))
live = copy(ID);
for (idx, row) in enumerate(eachrow(test))
    ID[idx] = row[:PassengerId]
    if row[:Sex] == "female"
        live[idx] = 1
    end
end

In [12]:
submit = DataFrame(PassengerId = ID, Survived = live)
head(submit)

6×2 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │
├─────┼─────────────┼──────────┤
│ 1   │ 892         │ 0        │
│ 2   │ 893         │ 1        │
│ 3   │ 894         │ 0        │
│ 4   │ 895         │ 0        │
│ 5   │ 896         │ 1        │
│ 6   │ 897         │ 0        │

In [13]:
writetable("submit.csv", submit)

さてさて、こんな安直なモデルでどこまでの精度が出るのかな？

![KaggleTitanic](kaggle_titanic.png "titanic")

おぉ!? こんなモデルでも 76 % くらいの精度か。順位は 5834人中の4267位。精度が 80 % 超えると上位 10 % に入れるようだから、ここから 1 % 上げるのは相当難しいってことか。

次は何を基準にするかな。若い人のほうが体力あるから生き残れそうだなよなぁ。船は真っ二つに分裂したから客室によっても変わりそうだ ・・・

---

---

アプローチの仕方はわかったでしょうか?  
それでは皆さんも試行錯誤を重ね、自分なりのモデルを構築してみてください。